<div class="page-container">
  <div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
      <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200"
          ng-class="{'page-sidebar-menu-closed':true}">
        <li class="start nav-item"
          ng-class="{'active': state.current.name == 'main'}">
          <a ui-sref="main">
            <i class="icon-home"></i>
            <span class="title">{{"home"| translator: 'main'}}</span>
          </a>
        </li>
        <li class="nav-item"
          ng-class="{'active': state.current.name == 'main.class_names'}"
          ng-show="currentUser.role == 'admin'">
          <a ui-sref="main.class_names">
            <i class="icon-users"></i>
            <span class="title">Danh mục lớp khóa học</span>
          </a>
        </li>
        <li class="nav-item"
          ng-class="{'active': state.current.name == 'main.forms'}"
          ng-show="currentUser.role == 'student'">
          <a ui-sref="main.forms">
            <i class="icon-users"></i>
            <span class="title">Đánh giá điểm rèn luyện</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="page-content-wrapper">
      <div class="page-content">
        <div ui-view></div>
      </div>
    </div>
  </div>
</div>
