<div class="page-container">
  <div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
      <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200"
          ng-class="{'page-sidebar-menu-closed':true}">
        <li class="start nav-item"
            ng-class="{'active': true}">
          <a>
            <i class="icon-home"></i>
            <span class="title">{{"home"| translator: 'main'}}</span>
          </a>
        </li>
        <li class="nav-item"
            ng-class="{'active': state.current.name == 'main.inspections'}"
            ng-show="currentUser.role != 'admin'">
          <a ui-sref="main.inspections">
            <i class="icon-notebook"></i>
            <span class="title">{{"inspection_plan"| translator: 'main'}}</span>
          </a>
        </li>
        <li class="nav-item"
            ng-class="{'active': state.current.name == 'main.enterprises'}"
            ng-show="currentUser.role != 'admin'">
          <a ui-sref="main.enterprises">
            <i class="icon-users"></i>
            <span class="title">{{"enterprises"| translator: 'main'}}</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="page-content-wrapper">
      <div class="page-content">
        <div ui-view></div>
      </div>
    </div>
  </div>
</div>
