<hr>
<div class="login-link">
  <div class="box-container box-center">
      <div class="login-link-item">
        <%= link_to t("link_devise.forgot_password"), new_password_path(resource_name) %>
      </div>
  </div>
</div>
