<hr>
<div class="box-xs-100">
  <div class="box-container box-row-wrap box-center">
    <div class="login-link-item">
      <%= link_to t("link_devise.log_in"), new_session_path(resource_name) %>
    </div>
  </div>
</div>
