<% provide :title, t("unlock.resend_unlock") %>

<div class="box-container box-middle box-space-around box-row-wrap">
  <div class="box-md-50 box-sm-80 box-xs-100">
    <%= render "devise/shared/logo" %>

    <%= render "new_main" %>
  </div>
</div>
