<% provide :title, t("password.change_password") %>

<div class="login-box box-container box-middle box-space-around box-row-wrap">
  <div class="box-md-50 box-sm-80 box-xs-100">
    <%= render "edit_main" %>
  </div>
</div>
