<div class="modal-header bg-blue-custom padding-title">
  <h3 class="modal-title text-bold-header"> Phiếu đánh giá điểm rèn luyện </h3>
</div>
<div class="modal-body">
  <div class="row row-flex">
    <div class="form-group">
      <div class="col-xs-12">
        <div class="col-xs-3 form-group">
          <label class="required">Năm học:</label>
        </div>
        <div class="col-xs-3 form-group">
          {{addform.year}}
        </div>

        <div class="col-xs-3 form-group">
          <label class="required">Kì:</label>
        </div>
        <div class="col-xs-3 form-group">
          {{addform.session}}
        </div>
      </div>

      <div class="col-xs-12">
        <div class="col-xs-3 form-group">
          <label>Họ và tên:</label>
        </div>
        <div class="col-xs-3 form-group">
          {{addform.first_name}} {{addform.last_name}}
        </div>
        <div class="col-xs-3 form-group">
          <label>Ngày sinh:</label>
        </div>
        <div class="col-xs-3 form-group">
          {{addform.birthday | date:'dd/MM/yyyy'}}
        </div>
      </div>

      <div class="col-xs-12">
        <div class="col-xs-3 form-group">
          <label>Mã số sinh viên:</label>
        </div>
        <div class="col-xs-3 form-group">
          {{addform.mssv}}
        </div>

        <div class="col-xs-3 form-group">
          <label>Lớp:</label>
        </div>
        <div class="col-xs-3 form-group">
          {{addform.class_name}}
        </div>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="portlet-body">
        <div class="max-width-100-pc scrollable">
          <table class="table table-hover table-custom table-striped" fixed-header>
            <thead>
              <tr>
                <th class="col-xs-10">Nội dung đánh giá</th>
                <th class="col-xs-2">SV tự đánh giá</th>
              </tr>
            </thead>
            <tbody class="max-height-table">
              <tr>
                <td class="col-xs-10 text-left bold">1. Ý thức học tập</td>
                <td class="col-xs-2"></td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left">1.1. Điểm chuẩn</td>
                <td class="col-xs-2">+ 30</td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left">1.2. Trừ điểm</td>
                <td class="col-xs-2"></td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left">- Học lực yếu: -3đ</td>
                <td class="col-xs-2">
                  <label>-
                    {{addform.form1}}
                  </label>
                </td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left">- Bị cảnh báo học vụ: -5đ</td>
                <td class="col-xs-2">
                  <label>-
                    {{addform.form2}}
                  </label>
                </td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left">- Đăng ký không đủ số tín chỉ theo Quy định: -5đ</td>
                <td class="col-xs-2">
                  <label>-
                    {{addform.form3}}
                  </label>
                </td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left">- Không tham gia NCKH theo Quy định (đối với sinh viên NVCL): -5đ/lần</td>
                <td class="col-xs-2">
                  <label>-
                    {{addform.form4}}
                  </label>
                </td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left">- Bị cấm thi hoặc bỏ thi cuối kỳ không có lý do: - 2đ/lần</td>
               <td class="col-xs-2">
                  <label>-
                    {{addform.form5}}
                  </label>
                </td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left bold">2. Ý thức và kết quả chấp hành nội quy, quy chế trong nhà trường</td>
                <td class="col-xs-2"></td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left">2.1. Điểm chuẩn</td>
                <td class="col-xs-2">+ 25</td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left">2.2. Trừ điểm</td>
                <td class="col-xs-2"></td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left">- Nộp hoặc nhận không đúng một khoản kinh phí: -5đ/lần</td>
                <td class="col-xs-2">
                  <label>-
                    {{addform.form6}}
                  </label>
                </td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left">- Đăng ký học quá hạn (nếu được chấp nhận): -2đ</td>
                <td class="col-xs-2">
                  <label>-
                    {{addform.form7}}
                  </label>
                </td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left">- Không thực hiện theo Giấy triệu tập/Yêu cầu của Nhà trường: - 5đ/lần</td>
                <td class="col-xs-2">
                  <label>-
                    {{addform.form8}}
                  </label>
                </td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left">- Trả quá hạn giấy tờ/hồ sơ đã được phép mượn: -5đ/lần</td>
                <td class="col-xs-2">
                  <label>-
                    {{addform.form9}}
                  </label>
                </td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left">- Không tham gia Bảo hiểm Y tế: -5đ</td>
                <td class="col-xs-2">
                  <label>-
                    {{addform.form10}}
                  </label>
                </td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left">- Vi phạm quy định nơi cư trú: -10đ/lần</td>
                <td class="col-xs-2">
                  <label>-
                    {{addform.form11}}
                  </label>
                </td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left bold">3. Ý thức và kết quả tham gia hoạt động chính trị - xã hội, văn hoá, văn nghệ, thể thao, phòng chống các tệ nạn xã hội</td>
                <td class="col-xs-2"></td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left">3.1. Điểm chuẩn</td>
                <td class="col-xs-2">0</td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left">3.2. Cộng điểm</td>
                <td class="col-xs-2"></td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left">- Tham gia đầy đủ các hoạt động của chi đoàn và tham gia đầy đủ các buổi sinh hoạt chính trị theo triệu tập (nếu có) của Nhà trường (+ 10đ)</td>
                <td class="col-xs-2">
                  <label>+
                    {{addform.form12}}
                  </label>
                </td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left">- Tham gia (có giấy xác nhận) các hoạt động văn nghệ, thể thao, câu lạc bộ, hoạt động tình nguyện....( +2đ/lần )</td>
                <td class="col-xs-2">
                  <label>+
                    {{addform.form13}}
                  </label>
                </td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left">- Không tham gia Sinh hoạt chính trị theo Quy định (-2đ/buổi)</td>
                <td class="col-xs-2">
                  <label>-
                    {{addform.form14}}
                  </label>
                </td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left bold">4. Về phẩm chất công dân và quan hệ với cộng đồng</td>
                <td class="col-xs-2"></td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left">4.1. Điểm chuẩn</td>
                <td class="col-xs-2">+ 15</td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left">- Có Thông báo bằng văn bản về việc không chấp hành các chủ trương của Đảng, chính sách pháp luật của Nhà nước, vi phạm an ninh chính trị, trật tự an toàn xã hội, an toàn giao thông, (- 5đ/lần )</td>
                <td class="col-xs-2">
                  <label>-
                    {{addform.form15}}
                  </label>
                </td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left">- Không có tinh thần giúp đỡ bạn bè, không thể hiện tinh thần đoàn kết tập thể (- 5đ/lần )</td>
                <td class="col-xs-2">
                  <label>-
                    {{addform.form16}}
                  </label>
                </td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left bold">5. Ý thức và kết quả tham gia công tác phụ trách lớp, các đoàn thể, tổ chức trong nhà trường hoặc đạt được thành tích đặc biệt trong học tập, rèn luyện của học sinh, sinh viên</td>
                <td class="col-xs-2"></td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left">5.1. Điểm chuẩn</td>
                <td class="col-xs-2">0</td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left">5.2. Cộng điểm</td>
                <td class="col-xs-2"></td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left">- Giữ các chức vụ trong các tổ chức chính quyền, đoàn thể và được đánh giá hoàn thành tốt nhiệm vụ (+10đ)</td>
                <td class="col-xs-2">
                  <label>+
                    {{addform.form17}}
                  </label>
                </td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left">- Đạt thành tích cao trong học tập và NCKH</td>
                <td class="col-xs-2"></td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left"> + Học lực (Xuất sắc, Giỏi): (+10đ)</td>
                <td class="col-xs-2">
                  <label>+
                    {{addform.form18}}
                  </label>
                </td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left"> + Tham gia các cuộc thi chuyên môn như Procon, Olympic,...: (+5đ/lần)</td>
                <td class="col-xs-2">
                  <label>+
                    {{addform.form19}}
                  </label>
                </td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left"> + Đạt giải tại các cuộc thi chuyên môn: (+5đ/lần)</td>
                <td class="col-xs-2">
                  <label>+
                    {{addform.form20}}
                  </label>
                </td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left"> + Tham gia NCKH (không phải là SV NVCL): +5đ</td>
                <td class="col-xs-2">
                  <label>+
                    {{addform.form21}}
                  </label>
                </td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left"> + Đạt giải NCKH các cấp hoặc có báo cáo tại Hội nghị NCKH/bài báo đăng trên các tạp chí trong và ngoài nước: +5đ.</td>
                <td class="col-xs-2">
                  <label>+
                    {{addform.form22}}
                  </label>
                </td>
              </tr>
              <tr>
                <td class="col-xs-10 text-left">- Được kết nạp Đảng: +10đ</td>
                <td class="col-xs-2">
                  <label>+
                    {{addform.form23}}
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <input ng-click="close()" class="btn btn-default btn-sm" type="button" data-dismiss="modal"
  value='{{"close" | translator: "main"}}'>
</div>
