<% provide :title, t("registration.title") %>

<div class="box-container box-middle box-space-around box-row-wrap">
    <div class="box-md-50 box-sm-80 box-xs-100">

      <%= render "users/shared/logo" %>
      <%= render "new_base" %>
    </div>
  </div>
</div>
